header {
  background-color: #0005;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
}
.menu ul {
  display: flex;
  list-style: none;
  text-align: center;
  gap: 30px;
}
menu a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  transition: color 0.2;
}
