header {
  display: flex;
  background-color: #0005;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}
header .logo {
  padding-top: 20px;
}
menu {
  display: block;
  text-decoration: none;
}
