body {
  width: 100vw;
  height: 100vh;
  background-image: url(img/cidadeimg.jpeg);
  background-color: #0009;
  background-position: right;
  background-size: cover;
  background-blend-mode: darken;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: flex-end;
}
